<app-navbar>
</app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 p-3">
            <h3 class="fs-3 text-center fw-bold">Lista de Items Generales</h3>
            <div class="d-flex">
                <p class="text-center margen2">Buscar:</p> 
                <input
                 type="text" 
                 class="form-control input3" 
                 name="filterPost" 
                [(ngModel)]="filterPost">
                </div>
            <div class="table-responsive overflow-auto">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items|filter11 : filterPost; let i = index ">
                            <td scope="col" (click)="selectedItem(item.id)">{{item.nomitemSup}}</td>
                            <td scope="col" (click)="selectedItem(item.id)">{{item.descripSup}}</td>
                            
                            <td scope="col">
                                <!-- <a  class="mx-1 btn btn-primary" title="Editar">Editar</a> -->
                                <a (click)="removeItem(item, i)" class="mx-1 btn btn-danger" title="Eliminar">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>