<div class="container col-12 col-md-6 mt-5">
    <div class="bg-comp p-4">
        <h3 class="fs-3 fw-bold">REGISTRO DE UNIDADES</h3>
        <div class="y">
            <form>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="itemgasto" class="form-label">Nombre de gasto</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="itemgasto" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="detalle" class="form-label">Facultad</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="detalle" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="importepresupuesto" class="form-label">Presupuesto</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="importepresupuesto" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="periodopresupuesto" class="form-label">Jefe de Unidad</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="periodopresupuesto" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="importepresupuesto" class="form-label">Secretaria de Unidad</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="importepresupuesto" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-10 col-md-4">
                        <label for="periodopresupuesto" class="form-label">Teléfono</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <input type="text" class="form-control" id="periodopresupuesto" placeholder="Ingrese...">
                    </div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>