.fecha {
    border: 2px solid #bd071f;
}
i{
    color: #d42038;
    position:absolute;
    top:0;
    right:0;
}
.visi{
    visibility: hidden;
}
.margen{
    margin-top: -24px;
}
.margen1{
    margin-top: -24px;
}

.cuadrado {
    width: 32.6%;
}

 /*INIT*/
 .sidebar {
    position: absolute;
    width: 20%;
    height: 100vh;
    background: #3f51b5;
    
  }

  .sidecontent {
    position: relative;
    margin-left: auto;
    width: 80%;
    float: right;
    height: 100vh;
  }