.input {
    width: 90%;
  }
  .input3 {
    width: 35%;
    height: 20%;
  }
.margen{
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    }
    .margen2{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        }

    .boton{
        margin-right: 10px;    
    }
    
    thead{
        background-color: #3f51b5;
        color: white;
    }
    
    .tabla {
    margin: auto;
       width: 80% !important; 
       
    }
    
    td {
        background-color: white !important;
    }
  