<app-navbar>
</app-navbar>

<div class="tabla margen">
    <h1 class="text-center">Lista de empresas</h1>
    <div class="d-flex">
        <p class="text-center margen2">Buscar:</p> 
    
        <input
         type="text" 
         class="form-control input3" 
         name="filterPost" 
        [(ngModel)]="filterPost">
        </div>
    <table class="table table-striped ">    
    <thead>
            <tr>
                <th>Nombre</th>
                <th>Nit</th>
                <th>Rep. Legal</th>
                <th>Teléfono</th>   
                <th>Dirección</th>     
                <th>Rubro</th>
                <th>Correo</th>
                <th scope="col" class="text-center">Opciones</th>  
            </tr>               
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas | filter1 : filterPost">
                <td scope="col"> {{empresa.nombreemp}}</td>
                <td scope="col"> {{empresa.nit}}</td>
                <td scope="col"> {{empresa.repnombre}} </td>
                <td scope="col"> {{empresa.telefono}} </td>
                <td scope="col"> {{empresa.diremp}} </td>
                <td scope="col"> {{empresa.rubro}} </td>   
                <td scope="col"> {{empresa.correo}} </td>     
                <td scope="col" class="text-center">
                    <a (click)="removeEmpresa(empresa)" class="mx-1 btn btn-danger" title="Eliminar">Eliminar</a>
                </td>              
            </tr>
        </tbody>
    </table>
    <div class="derecha">
        <button  id ="Cancelar" (click)="goBack()"   class="btn-secondary ">Volver atrás</button>
    </div>
</div>