<app-navbar>
</app-navbar>
<h1>Detalles de la solicitud</h1>
<div class="d-flex derecha">
    <button id="Generar" (click)=" abrirDialogo()" class="btn-primary input boton44">Generar cotización</button>
    &nbsp;
    <button  id ="Generar cuadro comparativo" class="btn-primary input boton44">Generar cuadro comparativo</button>
    &nbsp;
    <button  id ="Registrar respuesta de solicitudes" class="btn-primary boton44">Registrar respuesta de cotizaciones</button>
   
</div>
<div class="derecha">
    <button  id ="Cancelar" [routerLink]="['/cotizacion']"  class="btn-secondary">Volver atrás</button>
</div>