<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 px-0">
            <h2>Añadir copia de cotización</h2>
            <div class="card p-3">
                <h2>Rellene el formulario</h2>
                <form (ngSubmit)="submitForm()">
                        <div class="col-12 row align-items-center mb-3">
                            <div class="col-12 col-md-4">
                                <label for="itemsuperior" class="form-label">Empresa: <span
                                        class="text-danger">*</span></label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select class="form-select letra3" id="empresa" aria-label="Default select example" (click)="selectEmpresa($event)"
                                    required>
                                    <option selected disabled>Selecione la empresa</option>
                                    <option *ngFor="let empresa of empresas" id="itemsCargados" [value]="empresa.id">
                                        {{empresa.nombreemp}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-12 row align-items-center mb-3">
                            <div class="col-12 col-md-4">
                                <label for="itemsuperior" class="form-label">Cotización: <span
                                        class="text-danger">*</span></label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select class="form-select letra3" id="empresaCotizacion" (click)="selectEmpresaCot($event)"
                                    aria-label="Default select example" required>
                                    <option selected disabled>Selecione la cotizacion</option>
                                    <option *ngFor="let cotizacion of cotizaciones" id="itemsCargados" [value]="cotizacion">
                                        {{cotizacion.id}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile" accept="application/pdf" (change)="onFileChange($event)">
                            </div>
                            <button class="btn btn-primary"  (click)="submitForm()">Guardar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- lista de  archivos -->
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 px-0 py-3">
            <app-scan-cotizacion></app-scan-cotizacion>
        </div>
    </div>
</div> -->