<app-navbar>
</app-navbar>
<h2 class="text-center py-8"><b>USUARIO DEL SISTEMA</b><h3><p>MENU DE FUNCIONES</p></h3></h2>

 


<div class="col-md-4 py-4"> 
    <a [routerLink]="['/form-solicitud']" class="list-group-item list-group-item-action text-center"><b>Realizar solicitudes de cotizacion</b><p>Permite realizar la solicitud para compra de bienes y servicios</p></a>
  </div>
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/registrounidades']" class="list-group-item list-group-item-action text-center"><b>Registro de unidades</b><p>Registro de nuevas unidades de gasto</p></a>
  </div> 
  
  
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/registroitem']" class="list-group-item list-group-item-action text-center"><b>Agregar items específicos</b><p>Permite agregar nuevos items de area específica o inferior</p></a>
  </div> 
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/solicitudes']" class="list-group-item list-group-item-action text-center"><b>Solicitudes</b><p>Permite ver las solicitudes para su rechazo o aceptación</p></a>
  </div> 
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/misSolicitudes']" class="list-group-item list-group-item-action text-center"><b>Mis solicitudes</b><p>Permite ver las solicitudes que realizo</p></a>
  </div>
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/registroitemsup']" class="list-group-item list-group-item-action text-center"><b>Agregar items generales</b><p>Permite agregar nuevos items de area general o superior</p></a>
  </div> 
  <div class="col-md-4 py-4"> 
    <a [routerLink]="['/itemSupPresupuesto']" class="list-group-item list-group-item-action text-center"><b>Agregar presupuesto a items generales</b><p>Permite agregar presupuesto a items de area general o superior previamente registrados</p></a>
  </div> 
