<app-navbar>
</app-navbar>
<div id="imprimir3">


<div class="tabla margen" id="tablita">
    <div class="d-flex">
        <h3 class="derechax2 text-center margen3 bold">UNIVERSIDAD MAYOR DE SAN SIMON<p class="margen2 bold">{{facultad}} &nbsp;</p>ADQUISICIONES</h3>
        <h3 class="derechax3 text-center bold">Teléfono:&nbsp;{{telefono}}<P>Cochabamba - Bolivia</P></h3>
    </div>

    <div class="derechaDef d-flex">
        <h3>No: </h3>
        <h3>7</h3>
        </div>
     
<h1 class="text-center margen2 bold">SOLICITUD DE COTIZACIÓN</h1>
<div class="derecha d-flex" >
    <h3 >Fecha:</h3>
    &nbsp;
    <h3>{{this.fecha}}</h3>
    </div>   
<div class="d-flex ">
    
    <div class="d-flex">
        <h3>Razón Social:</h3>
        &nbsp;
        <h3>{{empresaEle}}</h3>
    </div>


</div>

<div class="d-flex">
<h3>Unidad Solicitante:</h3>
&nbsp;
<h3>{{unidadName}}</h3>
</div>
<h3>Agradecemos a Uds. cotizarnos, los articulos que a continuacion se detallan. Luego este formulario debe devolverse en sobre cerrado debidamente FIRMADO Y SELLADO(Favor especificar Marca, Modelo, Industria)</h3>
  <h3>Productos</h3>
  <table class="table table-striped table-bordered text-center ">
      <thead>
          <tr>
              <th>No</th>
              <th>Cantidad</th>
              <th>Detalle</th>
              <th>Precio Unitario</th>
              <th>&nbsp;Total&nbsp;</th>
          </tr>               
      </thead>
      <tbody>
        <tr *ngFor="let cotizacion of cotizacionLista; let i = index ">
          
            <td *ngIf="esSolicitud(cotizacion.solicitud_id)" >{{i+1}}</td>
            <td  *ngIf="esSolicitud(cotizacion.solicitud_id)" > {{cotizacion.cantidad}} </td>
            <td  *ngIf="esSolicitud(cotizacion.solicitud_id)" > <b>{{cotizacion.nombre +": "}}</b>{{cotizacion.descrip}}</td>
            <td *ngIf="esSolicitud(cotizacion.solicitud_id)" ></td>       
            <td *ngIf="esSolicitud(cotizacion.solicitud_id)" > </td>                                                
        </tr>
    </tbody>
  </table>
</div>
<br>
<h3 class="margen1">Observaciones:________________________________________________________________________________________</h3>
<h3 class="margen1">_____________________________________________________________________________________</h3>
<h3 class="margen1">Validez de la oferta:_____________________________________</h3>
<h3 class="margen1">Plazo de entrega:_____________________________________</h3>
</div>
<div class="d-flex derechaxx">
<button id="Generar PDF" (click)="pdf()" class="btn-primary">Generar PDF</button>
&nbsp;
<p></p>
<button  id ="Cancelar"  (click)="goBack()" [routerLink]="['/cotizando']" class="btn-secondary">Volver atrás</button>
</div>
