<h1 class="text-center separar"><label class="fw-bold  titulo" >INICIO DE SESION</label></h1>
<form class="row g-3"  (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <div class="col-md-4 "></div>
    <div class="col-md-4  ">
        <label for="exampleFormControlInput1" class="form-label letra ">Correo electrónico</label>
        <input type="email" class="form-control " formControlName="correo">
        <span class="form-text text-danger" *ngIf="campoNoValido('correo')" >
            Debe ingresar un correo válido
        </span>
     </div>


  <p></p>
  <div class="col-md-4 "></div>
  <div class="col-md-4 ">
    <label for="exampleFormControlTextarea1" class="form-label letra">Contraseña</label>
    <input type="password" class="form-control"  formControlName="password" >
    <span class="form-text text-danger" *ngIf="campoNoValido('password')" >
        Debe ingresar un contraseña
    </span>
  </div>
  <p></p>
  <div class="col-md-4 centrando text-center"></div>
  <div class="col-md-4 d-grid gap-2 text-center">
    <div class=" centrando text-center">
        <button type="submit" class="btn btn-danger centrando  botonsito2 ">Iniciar Sesión</button>
    </div>
</div>
</form>
