<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="primary">

            <!--PAGE NAME -->
            <mat-list-item style="color: aliceblue;">
                <h1 class="systemName">SISTEMA DE APOYO PARA COTIZACIONES</h1>

            </mat-list-item>
            <!--The user account-->
            <span class="fill-remaining-space"> </span>

        </mat-toolbar>
    </mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<h1 class="text-center separar letraH"><label class=" fw-bold">INICIO DE SESIÓN</label></h1>
<img src="assets/umsslogito.png" alt="">
<p></p>
<form class="row g-3" (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <div class="col-md-4 "></div>
    <div class="col-md-4  ">
        <label for="exampleFormControlInput1" class="form-label letra input letraI ">Correo electrónico</label>

        <input type="email" class="form-control letra2 input inputsito " formControlName="correo" #correo required id="correo" [ngClass]="{'is-invalid': miFormulario.controls['correo'].errors && miFormulario.controls['correo'].touched}">
        <span class="form-text text-danger is-invalid letra3 letraK" *ngIf="campoNoValido('correo')">
            Debe ingresar un correo válido
        </span>

    </div>

    <p></p>
    <div class="col-md-4 "></div>
    <div class="col-md-4 ">
        <label for="exampleFormControlTextarea1" class="form-label letra text-center letraI ">Contraseña</label>
        <input type="password" class="form-control letra2 input inputsito  " formControlName="password" #password required id="password" [ngClass]="{'is-invalid': miFormulario.controls['password'].errors && miFormulario.controls['password'].touched}">
        <span class="form-text text-danger letra3 letraK" *ngIf="campoNoValido('password')">
        Debe ingresar una contraseña
    </span>
    </div>
    <p></p>
    <div style="text-align: center;"> {{ message }}</div>
    <div class="col-md-4 centrando text-center"></div>
    <div class="col-md-4 d-grid gap-2 text-center">
        <div class=" centrando text-center">
            <button type="submit" class="btn btn-danger botonsito2 ">Iniciar Sesión</button>
        </div>
    </div>
</form>