.centrar{
    margin-left: auto;
    margin-right: auto;
}
.red {
    color: red;
  }
.separar {
    margin-top: 100px;
  }
  .botonsito2 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 5px;

    font-size: 20px;
    top: auto;
    
  }
  .centrando{
    text-align: center;
  }
  .letra {
    font-size:20px  ;
    font-style:normal;
    font-weight: 100;
}
.titulo{
  font-weight: 100;
}
.letra2 {
  font-size:17px  ;
  font-style:normal;
  font-weight: 100;
}
.letra3 {
  font-size:15px;
}
.izquierda{
  float:left
}
.mat-toolbar.mat-primary {
  /*background: #007bff;*/
  color: #003770  ;
}
.angular-logo {
  margin: 0 4px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
flex: 1 1 auto;
}