<div class="container col-12 col-md-7">
    <div class="p-3">
        <h3 class="fs-3 fw-bold">Lista de Unidades</h3>
        <div class="table-responsive overflow-auto">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Facultad</th>
                        <th scope="col">Presupuesto</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Jefe de Unidad</th>
                        <th scope="col">Secretaria</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unid of unidades; let i = index ">
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.nombre}}</td>
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.facultad}}</td>
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.presupuesto}}</td>
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.telefono}}</td>
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.user_id}}</td>
                        <td scope="col" (click)="selectedUnidad(unid.id)">{{unid.secret_id}}</td>
                        <td scope="col">
                            <a  class="mx-1 btn btn-primary" title="Editar">Editar</a>
                            <a (click)="removeUnidad(unid, i)" class="mx-1 btn btn-danger" title="Eliminar">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>