<app-navbar>
</app-navbar>
<aside class="sidebar">
  <app-accordion menuEspecifico="usuarios"></app-accordion>
</aside>
<div class="sidecontent">
  <br>
  <h2 class="text-center py-8"><b>USUARIOS DEL SISTEMA</b><h3><p>MENU DE FUNCIONES</p></h3></h2>
  
   
  
    <div class="d-flex text-center">
    
    <div class=" col-md-4"> 
     
      <a [routerLink]="['/form-solicitud']" class="list-group-item list-group-item-action text-center"><b>Realizar solicitudes de cotizacion</b><p>Permite realizar la solicitud para compra de bienes y servicios</p></a>
    </div>
    <div class=" col-md-1.9"> 
      &nbsp; <p class="visi">aa</p>
    </div>
    <div class=" col-md-4"> 
      
      <a [routerLink]="['/misSolicitudes']" class="list-group-item list-group-item-action text-center"><b>Mis solicitudes</b><p>Permite ver las solicitudes que realizo</p></a>
      
    </div> 
    <div class=" col-md-1.9"> 
      &nbsp;<p class="visi">aa</p>
    </div>  
  
  </div>
</div>


