<mat-sidenav-container>
<mat-sidenav-content>
     <mat-toolbar color="primary" >
 
       
    <!--PAGE NAME -->
       <mat-list-item style="color: aliceblue;">
         <h2 class="systemName" >SISTEMA DE APOYO PARA COTIZACIONES</h2>
        
       </mat-list-item>
       <!--The user account-->
       <span class="fill-remaining-space"> </span>
    
     </mat-toolbar>
   </mat-sidenav-content>
   <router-outlet></router-outlet>
 </mat-sidenav-container>
<img src="assets/umsslogo.png" alt="">
<div>
    <h1>Bienvenido al Sistema de apoyo de Cotizaciones UMSS</h1>
    <p style="text-align: center; padding-left: 33%; padding-right: 33%;">Para continuar <a href='/login'>inicie sesión</a> en el sistema. Si no posee una cuenta registrada contactese con el administrador.</p>    
</div>


<hr>
<h1>Funciones del sistema</h1><br>
<div class="d-flex text-center margen1">
  <div class="col-md-4 py-4 cuadrado resaltar"> 
    <b>Realizar cotizaciones </b><p>Con nuestro sistema podra realizar cotizaciones a distintas empresas del rubro</p>
  </div>
  <div class="col-md-4 py-4 cuadrado resaltar"> 
    <b>Rastrear el proceso de tus cotizaciones</b><p>Podra ver si su cotizacion fue aceptada, rechazada o esta en procesos</p>
  </div>
  <div class=" col-md-1.9"> 
    <p class="visi">aa</p>
  </div> 
  <div class="col-md-4 py-4 cuadrado resaltar"> 
    <b>Permite aceptar o rechazar cotizaciones</b><p>Como cotizador podra aceptar o rechazar solicitudes que le llegan</p>
  </div>
</div>

<div class="d-flex text-center" >
  <div class="col-md-4 py-4 cuadrado resaltar"> 
    <b>Añadir unidades de tu facultad</b><p>Como administrador podra afiliar nuevas unidades al sistema</p>
  </div> 
  <div class="col-md-4 py-4 cuadrado resaltar"> 
    <b>Registrar presupuestos</b><p>Como administrador podra asignar presupuestos a las distintas unidades</p>
  </div> 
  <div class="col-md-4 py-4 cuadrado resaltar div-link" (click)="final()"> 
    <b>Y mucho más</b><p>Contactate con el administrador para afiliarte</p>
  </div>
</div>
<br>
<hr>

<div>
  <div style='float:left; width:40%;'>
    <h1>Unidades afiliadas</h1>
    <p style="text-align: center">{{ unidadesAfiliadas() }}</p>
  </div>
  <br>
  <div class="margen" style='float:left; width:60%; '>
    <div style="text-align: justify;" *ngFor="let unidad of UnidadesUmss">
      <ul style="display: inline; float: left;">
        <li>{{unidad.nombre}}</li>
      </ul>
    </div>
  </div>
  <br>
</div>

<br>
<hr>
<br>
<div>
  <div style='float:left; width:40%;'>
    <h1>Acerca de</h1> 
  </div>
  <br>
  <div class="margen contacto" style='float:left; width:60%; text-align: center; '>    
    <div>
      <p style="text-align: justify; padding-left: 10%; padding-right: 10%;">Esta plataforma nacio por la necesidad de agilizar los procesos 
        de cotizaciones realizadas por nuestras distintas facultades y unidades de gasto. <br>
        Diseñada como parte de la convocatoria CPTIS-2120-2021, por la empresa Software Engineering Revolution S.R.L compuesta del siguiente equipo altamente calificado:        
      </p>
      <ul style="text-align: justify; padding-left: 15%; padding-right: 10%;">
        <li>Caceres Rengel Stephany</li>
        <li>Martinez Vargas Miguel</li>
        <li>Quiñones Vargas Jorge Mauricio</li>
        <li>Vallejos Vargas Luis Enrrique</li>
      </ul>
    </div>
  </div>
  <br>
</div>
<br>
<hr>
<br>
<div>
  <div style='float:left; width:40%;'>
    <h1>Contáctanos</h1> 
  </div>
  <br>
  <div class="margen contacto" style='float:left; width:60%; text-align: center; '>
    <div>
      <h2> <i class="material-icons">alternate_email</i> </h2>
      <a href="mailto:softwareengineringrevolution@gmail.com"><p>softwareengineringrevolution@gmail.com</p></a>
    </div>
    <div>
      <h2> <i class="material-icons">phone</i></h2>
      <p>+591 - 65395565</p>
      <p>+591 - 69535465</p>
      <p>+591 - 70369689</p>
      <p>+591 - 60778543</p>
    </div>
  </div>
  <br>
</div>

<br>
<footer>
  <div style="background-color: black; height: 50px; color: aliceblue;">
    <p style="text-align: center; font-size: medium;">© 2021 - Software Enginering Revolution S.R.L</p>
  </div>
</footer>


