<mat-sidenav-container>
<mat-sidenav-content>
     <mat-toolbar color="primary" >
 
       
    <!--PAGE NAME -->
       <mat-list-item style="color: aliceblue;">
         <h2 class="systemName" >SISTEMA DE APOYO PARA COTIZACIONES</h2>
        
       </mat-list-item>
       <!--The user account-->
       <span class="fill-remaining-space"> </span>
    
     </mat-toolbar>
   </mat-sidenav-content>
   <router-outlet></router-outlet>
 </mat-sidenav-container>
<img src="assets/umsslogo.png" alt="">
<div>
    <h1>Bienvenido al Sistema de apoyo de Cotizaciones UMSS</h1>
    <p>Esta plataforma nacio por la necesidad de agilizar los procesos 
        de cotizaciones realizadas por nuestras distintas facultades y unidades de gasto. 
        Para continuar por favor <a href='/login'>inicie sesión</a> en el sistema. Si no posee una cuenta registrada contactese con el administrador.</p>    
</div>
