<app-navbar>
</app-navbar>
<div class="tabla margen">
        <h3 class="fs-3 fw-bold text-center">Lista de presupuestos</h3>
        <div class="d-flex">
            <p class="text-center margen2">Buscar:</p> 
            <input
             type="text" 
             class="form-control input3" 
             name="filterPost" 
            [(ngModel)]="filterPost">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Unidad</th>
                        <th scope="col">Presupuesto</th>
                        <th scope="col">Gestion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let presupuesto of presupuestoService.presupuestos |filter6 : filterPost; let i = index ">
                        <td scope="col">{{presupuesto.nombre}}</td>
                        <td scope="col">{{presupuesto.presupuesto}}</td>
                        <td scope="col">{{presupuesto.gestion}}</td>                        
                        <!--td scope="col">
                            <<a  class="mx-1 btn btn-primary" title="Editar">Editar</a> >
                            <a (click)="removeUnidad(unid, i)" class="mx-1 btn btn-danger" title="Eliminar">Eliminar</a>
                        </td-->
                    </tr>
                </tbody>
            </table>

</div>