.boton{
    margin-right: 50px;    
}

thead{
    background-color: #3f51b5;
    color: white;
}

.tabla {
margin: auto;
   width: 90% !important; 
   
}

td {
    background-color: white !important;
}
.derecha{
    text-align:center;
}
.letra2 {
    font-size:13px  ;
    font-style:normal;
    font-weight: 100;
  }

/*INICIO*/
.sidebar {
    position: absolute;
    width: 20%;
    height: 100vh;
    background: #3f51b5;
    
  }

  .sidecontent {
    position: relative;
    margin-left: auto;
    width: 83%;
    float: right;
    height: 100vh;
  }

/* FIN */