.derechax {
    text-align: left;
    margin-left: 950px;
}

.centro {
    text-align: center;
    margin-left: 40px;
}

.derecha2 {
    text-align: center;
    margin-left: 0px;
}

.margen {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.separacion {
    margin-left: 50px;
}