<ul id="accordion" class="accordion" >

  <div class="menu" >
    <span class="material-icons">dashboard</span>
    <a [routerLink]="['/administrador']" >Tablero principal </a>     
  </div>

    <li *ngFor="let menu of menus; let i = index" 
      [class.active]="menu.active">
      <div class="menu" (click)="toggle(i)">
       
        <i [class]="menu.iconClass"></i>
        <span class="material-icons">{{menu.iconClass}}</span>
        {{ menu.name }}
       
        <span class="material-icons">
          expand_more
          </span>
      </div>
      
      <ul class="submenu" #submenu 
        [style.height.px]="menu.active ? submenu.scrollHeight : 0">
        <li *ngFor="let submenu of menu.submenu">
          <a [routerLink]="[submenu.url]"  >{{ submenu.name }}</a>
          
        </li>
      </ul>
    </li>   
     
  <div class="menu" >
    <span style="color: aliceblue;" class="material-icons">help_center</span>
    <a href="">Ayuda</a>  
    
  </div>
    
</ul>


 

