<app-navbar>
</app-navbar>
<aside class="sidebar">
  <app-accordion ></app-accordion>
</aside>
<div class="sidecontent">
  <br>
  <p></p>
   <p></p>
    <p></p>
  <h2 class="text-center py-8"><b>HABILITAR</b></h2>
   <p class="text-center py-8"><b>Podrá habilitar datos que hayan sido eliminados en los siguientes casos: </b></p>
    <div class="d-flex text-center">
      <div class=" col-md-2"> 
        &nbsp; <p class="visi">aa</p>
      </div>
    <div class=" col-md-4 cuadrado"> 
      <a [routerLink]="['/restFacultades']" class=" btn btn-primary color list-group-item list-group-item-action text-center"><b>FACULTADES</b></a>
    </div>
    <div class=" col-md-1.9"> 
      &nbsp; <p class="visi">aa</p>
    </div>
    <div class=" col-md-4 cuadrado"> 
      
      <a [routerLink]="['/restUnidades']" class="btn btn-primary color list-group-item list-group-item-action text-center"><b>UNIDADES</b></a>
      
    </div> 
    <div class=" col-md-2"> 
      &nbsp;<p class="visi">aa</p>
    </div>  
  
  </div>
   <div class="d-flex text-center">
      <div class=" col-md-2"> 
        &nbsp; <p class="visi">aa</p>
      </div>
    <div class=" col-md-4 cuadrado"> 
      <a [routerLink]="['/restUsuarios']" class="btn btn-primary color list-group-item list-group-item-action text-center"><b>USUARIOS</b></a>
    </div>
    <div class=" col-md-1.9"> 
      &nbsp; <p class="visi">aa</p>
    </div>
    <div class=" col-md-4 cuadrado"> 
      
      <a [routerLink]="['/restRoles']" class="btn btn-primary color list-group-item list-group-item-action text-center"><b>ROLES</b></a>
      
    </div> 
    <div class=" col-md-2"> 
      &nbsp;<p class="visi">aa</p>
    </div>  
  
  </div>
</div>


