<!--app-navbar>
</app-navbar-->


<!-- STARTS -->

<!--aside class="sidebar" >
  <app-accordion menuEspecifico="cotizador"></app-accordion>
</aside-->
<!-- finish -->
<div class="sidecontent" >
<br>
  <h2 class="text-center py-8"><b>USUARIO DEL SISTEMA - COTIZADOR</b><h3><p>MENU DE FUNCIONES</p></h3></h2>

  

    <div class="d-flex text-center ">
    <div class=" col-md-4 cuadrado"> 
  
      <a [routerLink]="['/solicitudes']" class="list-group-item list-group-item-action text-center"><b>Solicitudes</b><p>Permite aceptar o rechazar solicitudes</p></a>

    </div>
    <div class=" col-md-1.9"> 

      <p class="visi">aa</p>
    </div>
    <div class=" col-md-4 cuadrado"> 

      <a [routerLink]="['/cotizacion']" class="list-group-item list-group-item-action text-center"><b>Cotizaciones</b><p>Permite gestionar el proceso de cotización</p></a>
    
    </div>  
    <div class=" col-md-1.9"> 
      &nbsp;<p class="visi">aa</p>
    </div> 
    <div class=" col-md-4 cuadrado"> 

      <a [routerLink]="['/empresa']" class="list-group-item list-group-item-action text-center"><b>Registro empresas</b><p>Permite registrar empresas para cotizaciones</p></a>
    
    </div>
  
    <!--<div class=" col-md-4 text-center">
      <a [routerLink]="['/cotizacion/scan-cotizacion']" class="list-group-item list-group-item-action text-center" id="fecha-pres"><b>Subir Archivo PDF</b><p>Permite guardar el archivo de una cotizacion en pdf</p></a>    
    </div> -->
  </div>
  <div class=" col-md-4 margen cuadrado"> 
    <a [routerLink]="['/listaEmpresas']" class="list-group-item list-group-item-action text-center"><b>Lista empresas</b><p>Permite ver las empresas registradas</p></a>
  </div>

</div>